{% extends 'app/layout.html' %}

{% block contenido %}

<h1>Una página hecha en Colombia</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos laboriosam hic nobis asperiores optio, labore expedita quasi commodi molestiae illo explicabo ullam minus, cum adipisci beatae consectetur rerum ad?</p>
<hr>
<h3>Somos una startup</h3>
<ul>
    <li>Hugo</li>
    <li>Paco</li>
    <li>Luis</li>
</ul>

{% endblock %}