{% extends 'app/layout.html' %}

{% block contenido %}

<h1>Bienvenido a BLOCKBUSTER</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, repellendus perspiciatis provident ad voluptatem quae magnam facere rerum totam possimus deserunt doloremque sit ullam. Blanditiis mollitia a laborum quos sit.</p>


{% endblock %}