{% extends 'app/layout.html' %}

{% block titulo %}
Categorías
{% endblock %}

{% block contenido %}
<h1>Categorías</h1>

{% if request.user.is_superuser %}
<a href="{% url 'app:form_crear_categoria' %}">Crear categoría</a>
{% endif %}
<ul>
    {% for c in categorias %}
        <li>{{ c.nombre }}</li>
    {% endfor %}
</ul>
{% endblock %}