{% extends 'app/layout.html' %}

{% block contenido %}
<h1>BLOCKBUSTER</h1>

{% if request.user.is_authenticated %}

<p>Hola {{ request.user.first_name }}!!!</p>

{% else %}

<p>Si deseas ingresar a nuestro sistema haz click <a href="{% url 'app:form_login' %}">aqui</a></p>

{% endif %}

{% endblock %}

