{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockbuster</title>
    <link rel="stylesheet" href="{% static 'app/css/estilo.css' %}">
</head>

<body>

    <div class="container">
        <div class="header">
            <h1>
                <img src="{% static 'app/img/bb-logo.png' %}" alt="BB">
                BLOCKBUSTER- <small>{% block titulo %}El mejor sitio{% endblock %}</small></h1>
        </div>
        <div class="navegacion">
            <ul>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'app:post_logout' %}">Salir</a></li>
                {% else %}
                <li><a href="{% url 'app:form_login' %}">Ingresar</a></li>
                <li><a href="{% url 'app:form_registro' %}">Registro</a></li>
                {% endif %}              

                <li><a href="{% url 'app:index' %}">Inicio</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'app:peliculas' %}">Peliculas</a></li>
                <li><a href="{% url 'app:categorias' %}">Categorías</a></li>
                {% endif %}
                <li><a href="{% url 'app:acercade' %}">Nosotros</a></li>
            </ul>
        </div>
        <div class="contenido">
            {% block contenido %}
            {% endblock %}
        </div>
        <div class="footer">
            <span>Derechos reservados - Blockbuster &copy;</span>
        </div>
    </div>

    <script src="{% static 'app/js/index.js' %}"></script>
</body>

</html>