{% extends 'app/layout.html' %}

{% block contenido %}
{% if pelicula %}
<h1>{{ pelicula.titulo }}</h1>
<h3>Año</h3>
<p>{{ pelicula.anio }}</p>

{% if pelicula.actores %}
<h3>Actores</h3>
<p>{{ pelicula.actores }}</p>
{% endif %}

<h3>Sinopsis</h3>
<p>{{ pelicula.sinopsis }}</p>
{% else %}
<h1 style="color: red">La película solicitada no existe!</h1>
{% endif %}

{% endblock %}




