{% extends 'app/layout.html' %}

{% block titulo %}
Películas
{% endblock %}

{% block contenido %}
{% if request.user.is_superuser %}
<a href="{% url 'app:form_crear_pelicula' %}">Crear película</a>
{% endif %}
<table border="1">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Año</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for p in peliculas %}
        <tr>
            <td>{{ p.titulo }}</td>
            <td>{{ p.anio }}</td>
            <td>
                <a href="{% url 'app:pelicula' p.id %}">Ver</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
