{% extends 'app/layout.html' %}

{% block titulo %}
Registro
{% endblock %}

{% block contenido %}
<h1>Datos del usuario</h1>

<form action="{% url 'app:post_registro' %}" method="post">
    {% csrf_token %}
    <label for="nombres">Nombres</label>
    <input type="text" name="nombres">
    <br>
    <label for="username">Usuario</label>
    <input type="text" name="usuario">
    <br>
    <label for="email">Email</label>
    <input type="email" name="email">
    <br>
    <label for="password">Contraseña</label>
    <input type="password" name="clave">
    <br>
    <button type="submit">Crear cuenta</button>

</form>


{% endblock %}