* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 50px auto 100px / 0.2fr 1fr;
}
.header{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background: blue;
    color: white;
}
.navegacion {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: gray;
}
.navegacion ul{
    list-style-type: none;
}
.navegacion li {
    margin-bottom: 3px;
}
.navegacion a{
    color: white;
    text-decoration: none;  
    display: block;
    background: rgb(199, 199, 199);
    padding: 10px;
}
.navegacion a:hover{
    color: yellow;
    background: blue;
}
.contenido{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 20px;
}
.footer {
    grid-row: 3 / 3;
    grid-column: 1 / 3;
    background: rgb(38, 38, 38);
    color: white;
    text-align: center;
}
/*
table {
    width: 100%;
}

table, td, tr {
    border-collapse: collapse;
    border: 1px solid black;
}
*/